@using IPMS.Models.DTOs

@foreach (var bom in Matrials)
{

    <div class="row">
        <div class="col-5 col-md-3 text-end">Name :</div>
        <div class="col-7 col-md-9">@bom.Name</div>
    </div>
    <div class="row">
        <div class="col-5 col-md-3 text-end">Quantity:</div>
        <div class="col-7 col-md-9">@bom?.Quantity</div>
    </div>
}
@code {

    [Parameter] public List<BomDto> Matrials { get; set; } = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}