@using IPMS.Models.DTOs


    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>     
            </tr>
        </thead>
        <tbody>
        @foreach (var bom in Matrials)
        {
                <tr>
                <td>@bom.Name</td>
                <td>@bom.Quantity</td>
                </tr>
        }
        </tbody>
    </table>

@code {

    [Parameter] public List<BomDto> Matrials { get; set; } = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}